<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
  <form action="">
    <h1 class="titulo">System Manager User</h1>
    <h2 class="subtitulo">More efficiency in user control</h2>

    <label for="">Email</label>
    <input class="input-form" type="text"/>

    <label for="">Password</label>
    <input class="input-form" type="password"/>

    <app-button textButton="Access" size="100"></app-button>
  </form>

  <p class="footer">2024 | &copy; Desenvolvido por Carlos Aurélio</p>
</div>
